//表格数据查询事件及分页查询事件
$(function () {
	if($("#table").length>0){ 
		console.log($("#table"));
		$.InitMainTable("#table",vm.fields,function queryCallback(params){
			params = $.extend(params, vm.q);
			vm.reload(params);
		},function pageCallback(params){
			params = $.extend(params, vm.q);
			vm.reload(params);
		});
		vm.reload(null);
	}
});


//每个模块功能权限设置
function actionFormatter(value, row, index) {
    var result = "";
    result += "<a class='btn btn-xs green' onclick=\"select('" + row.${pk.attrname} + "')\"  title='查看'><span class='glyphicon glyphicon-search'></span></a>";
    result += "<a class='btn btn-xs blue' onclick=\"update('" + row.${pk.attrname} + "')\" title='编辑'><span class='glyphicon glyphicon-pencil'></span></a>";
    result += "<a class='btn btn-xs red' onclick=\"del('" + row.${pk.attrname} + "')\" title='删除'><span class='glyphicon glyphicon-remove'></span></a>";
    return result;
}

//Vue函数体
var vm = new Vue({
	el:'#rrapp',
	data:{
		q:{
		#foreach($column in $columns)
		${column.attrname}:null,
		#end
		},
		title: null,
		${classname}: {
		#foreach($column in $columns)
		${column.attrname}:null,
		#end
		},
		fields:[
		#foreach($column in $columns)
		#if($column.columnName == $pk.columnName)
		{field:'${column.attrname}',title:'${column.attrname}', width: 50, key: true},
		#else
		{field:'${column.attrname}',title:'${column.comments}', width: 80 },
		#end			
		#end
		],
	},
	methods: {
		//查询
		query: function () {
			vm.reload(vm.q);
		},
		//新增
		add: function(){
			vm.title = "新增";
			vm.${classname} = {};
			$("#saveOrUpdate").show();
			$('#itemModal').modal('show');
		},
		//导入
        importPage: function(){
        	$('#importModal').modal('show');
        },
        //导入请求
        importPost: function(){
        	$.syncPost(baseURL + "${moduleName}/${pathName}/importFile", JSON.stringify(vm.fields), function(r){
    			if(r.code === 0){
    				alert('操作成功', function(){
    					$('#importModal').modal('hide');
    	                vm.reload();
    	            });
    	        }else{
    	        	alert(r.msg);
    	        }
    		});	
        },
        //导出
        exportPage: function(){
		   $('#exportModal').modal('show');
		},
		//导出请求
        exportPost: function(){
		    $.syncPost(baseURL + "${moduleName}/${pathName}/exportFile", JSON.stringify(vm.fields), function(r){
    			if(r.code === 0){
    				alert('操作成功', function(){
    					$('#exportModal').modal('hide');
    	                vm.reload();
    	            });
    	        }else{
    	        	alert(r.msg);
    	        }
    		});	
		},
		//修改
		update: function (event) {
			var row = getSelectedRow();
			var ${pk.attrname} = row.${pk.attrname};
			if(${pk.attrname} == null){
				return ;
			}
            vm.title = "修改";
            vm.itemPage(${pk.attrname});
		},
		//详情
		itemPage: function (${pk.attrname}) {
        	 $('#itemModal').modal('show');
             vm.getInfo();
        },
        //新增OR修改
		saveOrUpdate: function (event) {
			var url = vm.${classname}.${pk.attrname} == null ? "${moduleName}/${pathName}/save" : "${moduleName}/${pathName}/update";
			$.syncPost(baseURL + url, JSON.stringify(vm.${classname}), function(r){
        		if(r.code === 0){
        			alert('操作成功', function(){
                        vm.reload();
                    });
                }else{
                	alert(r.msg);
                }
        	});
		},
		//删除
		del: function (event) {
			var rows = getSelectedRows();
            var ${pk.attrname}s = [];
            rows.forEach(function(value, index, array) {
            	${pk.attrname}s.push(array[index].${pk.attrname});
			});
            if(${pk.attrname}s == null){
                return ;
            }
            vm.delPost(${pk.attrname}s);
		},
		//删除请求
		delPost: function (${pk.attrname}s) {
        	confirm('确定要删除选中的记录？', function(){
        		$.syncPost(baseURL + "${moduleName}/${pathName}/delete", JSON.stringify(${pk.attrname}s), function(r){
        			if(r.code === 0){
        				alert('操作成功', function(){
        	                vm.reload();
        	            });
        	        }else{
        	        	alert(r.msg);
        	        }
        		});
        	});
        },
        //明细请求
		getInfo: function(${pk.attrname}){
			$.get(baseURL + "${moduleName}/${pathName}/info/"+${pk.attrname}, function(r){
                vm.${classname} = r.${classname};
            });
		},
		//重新加载请求
		reload: function (params) {
            $.postForm(baseURL + '${moduleName}/${pathName}/list', params, function(request){
        		$("#table").bootstrapTable('load',request.page);
        	});
		}
	},
	//创建完毕状态
    created: function(){
    	
    }
});